.ui-background {
    -fx-background-color: #191919;
}

.menu-button {
    -fx-padding: 15px 25px;
    -fx-background-color: none;
    -fx-border-color: #ffee00;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-text-fill: #ffee00;
}

.menu-button:hover {
    -fx-border-color: #FBFBFF;
    -fx-text-fill: #FBFBFF;
}

.h1 {
    -fx-fill: #ffee00;
    -fx-font-size: 28px;
}

.setup-label {
    -fx-fill: #ffee00;
}

.dropdown {

}